<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jwang.android.gymmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:name=".GymMateApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainNavigationActivity" />
        <activity android:name=".activity.UserDetailActivity" />
        <activity
            android:name=".activity.MediaDetailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="https://instagram.com/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MediaListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LocationMediaListActivity"
            android:theme="@style/LocationActivity.AppThemes" />
        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/SettingTheme" />

        <provider
            android:name=".data.MediaProvider"
            android:authorities="com.jwang.android.gymmate"
            android:exported="false"
            android:syncable="true" />

        <!-- SyncAdapter's dummy authentication service -->
        <service android:name=".sync.GymMateAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.GymMateMediaSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5b420a8e10b9ce73b75f4c608fffb1cb804c58fe" />
    </application>

</manifest>
